.careersectioncontainer{
    position: relative;
    padding: 10px;
}
.backgroundwavesvg{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: -12;
}

.ctabutton {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    color: #0099FF;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .ctabutton:focus {
    color: #171e29;
  }
  
  .ctabutton:hover {
    background-color: whitesmoke;
    border-color: #3385ff;
    fill: #06f;
  }
  
  .ctabutton:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  .svgelement{
    width: 400;
    height: 400;
  }
  
  @media (min-width: 768px) {
    .ctabutton {
      min-width: 170px;
    }
  }
  @media screen and (max-width: 991px){
    .svgelement{
      width: 300px;
      height: 300px;
    }
}